.index {
  flex-direction: column;
  width: 100%;
  .at-timeline {
    margin-left: 25%;
  }
  .at-timeline-item__content {
    min-height: 120px;
  }
  .at-timeline-item__content--sub {
    margin-top: 14px;
  }
}
  
  