.index {
  flex-direction: column;
  width: 100%;
  .timeline {
    width: 100%;
    text-align: center;
    margin-top: 120px;
  }
  .timeline-item {
    height: 250px;
    position: relative;
    .item-left {
      height: 100%;
      width: 1px;
      position: absolute;
      left: 10px;
      top: 0;
      background-color: blue;
    }
  }
  // .at-timeline {
  //   // margin-left: 25%;
  //   width: 80%;
  //   margin: 50px auto 0;
  // }
  // .at-timeline-item__dot .at-icon, .at-timeline-item__icon .at-icon {
  //   font-size: 35px;
  // }
  // .at-timeline-item__content-item {
  //   font-size: 30px;
  // }
  // .at-timeline-item__content {
  //   min-height: 200px;
  //   margin-left: 65px;
  // }
  // .at-timeline-item__tail {
  //   left: 17px;
  //   top: 35px;
  // }
  // .at-timeline-item__content--sub {
  //   margin-top: 14px;
  // }
}
  
  