.wrap {
  .at-form {
    position: static;
  }
  .textarea {
    position: relative;
    width: 96%;
    margin: 0 auto;
    .area {
      // margin: 0 3%;
      padding-top: 120px;
    }
    .header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background: #138fff;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }
}